body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --baseBackgroundColor: #070D19;
  --navbarBackgroundColor: #0E2545;
  --mainComponentBackgroundColor: #0C1427;
  --mainTextColor: lightcyan;
  --mainTextHoverColor: aqua;
  --mainTextShadowHoverColor: aqua;
  --mainBorderColor: aqua;
  --mainBoxShadowColor: aqua;
}